.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card{
    border: 1px solid black;
    width: 300px;
    border-radius: 5px;
    padding: 20px 30px;
}
.card-body{
    margin-top: 20px;
}
textarea{
    vertical-align: top;
}
input[type="submit"] {
    display: block;
    margin: 10px auto 0 auto;
}